[Desktop Entry]
Name=Elegiac

X-KDE-PluginInfo-Name=Elegiac
X-KDE-PluginInfo-Author=Ember
X-KDE-PluginInfo-Email=info@futuramerlin.com
X-KDE-PluginInfo-License=AGPL 3+
